.plusImg {
    margin-left: 65%;
    transform: translateX(-50%);
    transition: opacity 0.2s ease;
    cursor: pointer;
}

.plusImg:hover {
    opacity: 0.8;
}
.createContentWrapper {
    margin-top: 10%;
}

.select {
    position: fixed;
    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 16px;
    color: #505050;
    display: flex;
    margin-left: 50%;
    transform: translateX(-50%);
    gap: 70px;
    margin-top: 5.95%;
    cursor: pointer;
    transition: opacity 0.2s ease;
    height: 6.1%;
}

.select:hover {
    opacity: 0.8;
}

.select>div {
    padding: 5px 25px;
    border-radius: 0;
    transition: all 0.2s ease;
    position: relative;
}

.select>div.selectActive {
    color: #65B7FF;
}

.select>div.selectActive::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #65B7FF;
    border-radius: 8px 8px 0 0;
}


.titleBox,
.content {
    width: 70%;
    background-color: #fff;
    border-radius: 8px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 2%;
    box-shadow: 0 4px 10px rgba(133, 133, 133, 0.15);
    border-top: 15px solid #7BBCF5;
    padding: 20px;
    box-sizing: border-box;
    height: auto;
}

.content {
    border-top: none;
    border-left: 10px solid #A0C8EC;
}

.titleInput {
    margin-top: 2%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titleInput .title textarea {
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 40px;
    width: 50%;
    border: none;
    border-bottom: 2px solid #C0C0C0;
    outline: none;
    background: transparent;
    color: #000;
    line-height: 1.2;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
}

.titleInput .explain textarea {
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 20px;
    width: 80%;
    border: none;
    border-bottom: 1.5px solid #C0C0C0;
    outline: none;
    background: transparent;
    color: #000;
    line-height: 1.2;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
}

.titleInput .title textarea::placeholder {
    color: #000;
    transition: opacity 0.2s;
}

.titleInput .explain textarea::placeholder {
    color: #C0C0C0;
    transition: opacity 0.2s;
}

.titleInput .title textarea:focus::placeholder,
.titleInput .explain textarea:focus::placeholder {
    opacity: 0;
}

.questionbox {
    width: 100%;
}

.questionContent {
    margin-left: 2%;
}

.questionbox textarea {
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 20px;
    width: 90%;
    border: none;
    border-bottom: 1.5px solid #C0C0C0;
    outline: none;
    background: transparent;
    line-height: 1.2;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #F7F7FB;
    color: #000;
    padding: 6px 10px;
}

.questionbox textarea::placeholder {
    color: #000000;
    transition: opacity 0.2s;
}

.questionbox textarea:focus::placeholder {
    opacity: 0;
}


.questionNav {
    display: flex;
}

.selectType {
    width: 25%;
}

.selectType select {
    text-align: center;
    font-family: 'Pretendard';
    font-weight: 600;
    font-size: 18px;
    padding: 6px 10px;
    border: 1.5px solid #C0C0C0;
    border-radius: 8px;
    background-color: #fff;
    color: #505050;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease;
    width: 80%;
    height: 60px
}

.selectType select:focus {
    border-color: #000000;
    background-color: #ffffff;
}

.radioOptions {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    gap: 10px;
}

.optionBox {
    width: 100%;
    height: 35px;

}

.radioOptions label {
    font-family: 'Pretendard';
    font-size: 18px;
    color: #505050;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    padding: 10px 0;
}

.radioOptions input[type='radio'] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.radioOptions input[type="text"] {
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #505050;
    outline: none;
    background-color: transparent;
    width: 80%;
}


.subjectiveInput {
    margin-top: 35px;
}

.subjectiveInput input[disabled] {
    background-color: transparent;
    color: #505050;
    border: none;
    outline: none;
}

.subjectiveInput input[type='text'] {
    font-family: 'Pretendard';
    font-weight: 400;
    font-size: 20px;
    width: 80%;
    border: none;
    border-bottom: 1.5px solid #C0C0C0;
    outline: none;
    line-height: 1.2;
    padding: 6px 0;
    box-sizing: border-box;
    transition: all 0.2s ease;
}

.subjectiveInput input[type='text']::placeholder {
    color: #C0C0C0;
    transition: opacity 0.2s;
}

.subjectiveInput input[type='text']:focus::placeholder {
    opacity: 0;
}


textarea:focus,
.titleInput .title textarea:focus,
.titleInput .explain textarea:focus,
input[type='text']:focus {
    border-color: #65B7FF;
    background-color: #ffffff;
    transition: all 0.2s ease;
}

.lineBox {
    width: 95%;
    height: 50px;
    background-color: transparent;
    border-bottom: 1px solid #C0C0C0;
}

.radioOptions label.additionalOption {
    color: #A0A0A0;
}

.contentBottom {
    margin-top: 1%;
    display: flex;
    margin-left: 80%;
}

.delImg {
    z-index: 9999;
    cursor: pointer;
    margin-top: 12px;
}

.lengthLine {
    margin-top: 3%;
    width: 20px;
    height: 40px;
    background-color: transparent;
    border-right: 1.5px solid #a5a5a5;
}

.essential {
    display: flex;
    margin-left: 20px;
}

.switch {
    margin-left: 15px;
    margin-top: 17px;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.switch.on {
    background-color: #BED6EA;
}

.switch .slider {
    width: 23px;
    height: 23px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: left 0.3s, background-color 0.3s;
}

.switch .slider.on {
    left: 26px;
    background-color: #7BBCF5;
}

.test {
    width: 100%;
    height: 100%;
    background-color: #000;
    margin-top: 20px;
}