.logoImg {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.LoginBox {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translateX(-50%);
}

.loginText {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Pretendard';
    font-weight: 500;
    font-size: 45px;
}

.isMember {
    margin-top: 20%;
    display: flex;
    gap: 50px;
    margin-left: 40%;
}

.isMemberText {
    font-size: 24px;
    font-family: "Pretendard";
    font-weight: 300;
    color: #757575;
}

.SignUpLink {
    font-size: 24px;
    font-family: "Pretendard";
    font-weight: 700;
    color: #6AB9FF;
    cursor: pointer;

}

.signLink {
    text-decoration: none;
}

.signLink:visited {
    color: #6AB9FF;
    text-decoration: none;
}


.LoginBtn ,
.LoginBtn2
{
    font-size: 32px;
    font-family: "Pretendard";
    font-weight: 600;
    position: absolute;
    color: #ffffff;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #6AB9FF;
    border-radius: 24px;
    width: 680px;
    height: 88px;

    display: flex;
    /* flexbox 활성화 */
    justify-content: center;
    /* 가로 중앙 */
    align-items: center;
    /* 세로 중앙 */

    transition: opacity 0.3s ease;
    text-decoration: none;
    /* 밑줄 제거 */
}

.LoginBtn:hover
.LoginBtn2:hover {
    opacity: 0.8;
    cursor: pointer;
}

.LoginBtn:visited
.LoginBtn2:visited {
    color: #ffffff;
    text-decoration: none;
}

.LoginBtn2{
    top:80%;
}
.idInput,
.idInput2,
.passInput2,
.email,
.passInput {
    position: absolute;
    left: 13%;
    top: 17%;
    font-size: 22px;
    outline: none;
    border: none;
    background: transparent !important;
    /* 모든 배경 투명화 */
    color: #000;

    /* 브라우저 기본 스타일 제거 */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.idInput:focus,
.idInput2:focus,
.passInput2:focus,
.email:focus,
.passInput:focus {
    background: transparent !important;
}


.passInput::placeholder,
.idInput2::placeholder,
.passInput2::placeholder,
.email::placeholder,
.idInput::placeholder {
    color: #aaa;
}

.passInput:focus::placeholder,
.idInput2:focus::placeholder,
.passInput2:focus::placeholder,
.email:focus::placeholder,
.idInput:focus::placeholder {
    color: transparent;
}

.passInput {
    top: 65%;
}

.idInput2 {
    top: 12%;
}
.passInput2 {
    top:44%;
}
.email {
    top:77%;
}