.logobox {
    margin-left: 20%;
    width: 200px;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.logobox:hover {
    opacity: 0.7;
}

.nav {
    cursor: pointer;
    margin-top: 10%;
    transition: opacity 0.3s ease;
    text-decoration: none;
    font-size: 16px;
    color: #505050;
}

.nav:hover {
    opacity: 0.5;
}

.navbar {
    font-family: 'Pretendard';
    font-weight: 600;
    z-index: 100;
    width: 100%;
    top: 12px;
    position: absolute;
    display: flex;
    gap: 55%;
}

.items {
    gap: 60px;
    display: flex;
}

.login_signup {
    margin-top: 0.5%;
    gap: 20px;
    display: flex;
    color: #000;
}

.login,
.signUp {
    cursor: pointer;
    text-align: center;
    width: 95px;
    height: 42px;
}


.active {
    background-color: #6AB9FF;
    border-radius: 8px;
    color: #fff;
    transition: opacity 0.2s ease;
    /* 부드럽게 변하게 */
}

.active:hover {
    opacity: 0.8;
    /* 마우스 올리면 살짝 투명 */
}


.losiText {
    margin-top: 13%;
}

.route {
    display: flex;
    justify-content: space-between; /* 왼쪽 로고, 오른쪽 post */
    align-items: center; /* 수직 중앙 정렬 */
    width: 100%;
    padding: 0 20px; 
    gap: 30%;
}

.post {
    display: flex;
    margin-right: 3%;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 42px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.navBox {
    width: 100%;
    height: 160px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* 아주 살짝 그림자 */
}